<h1>Device List</h1>
<table id="tb_cases">
    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Platform</td>
        <td>OS Version</td>
        <td>Status</td>
        <td>Owned by</td>
        <td>created_date</td>
        <td>upd_date</td>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.name }}</td>
        <td>{{ obj.description }}</td>
        <td>{{ obj.device_platform }}</td>
        <td>{{ obj.os_version }}</td>
        <td>{{ obj.device_status }}</td>
        <td>{{ obj.user }}</td>
        <td>{{ obj.created_date }}</td>
        <td>{{ obj.upd_date }}</td>
        <td><a class="link" href="{% url 'console:device_update' obj.id %}">Update</a></td>
        <td><a class="link" href="{% url 'console:device_delete' obj.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <li>No Device yet.</li>

    {% endfor %}
</table>
