<h1>Test Case List</h1>
{% csrf_token %}
{# .... **Normal content list, maybe a table** .... #}
{% if test_case_list %}
    <table id="tb_cases">
        {% for case in test_case_list %}
            <tr>
                <td>{{ case.name }} 123</td>
                <!--<td><a href="/car/{{ car.id }}/" class="see_detail">detail</a></td>-->
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>Test Case</h3>
    <p>No test cases found!!! :(</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}

