{% extends 'console/base/base.html' %}
{% load bootstrap3 %}
<h1>{% block title %}{{ project.name }}{% endblock %}</h1>
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                <strong>Test Case - Add</strong>
            </div>
            {% csrf_token %}
            <form method="post">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" class="btn btn-default">
                <button onclick="window.history.back();" class="btn btn-default" type="button">Cancel</button>
            </form>
            <hr>
        </div>
        <div class="col-md-3">
            <div>
                <strong>Quick Filter</strong>
                <div>
                    <li><a class="link" href="#">implement search filter here</a></li>
                </div>
                <hr>
            </div>
            <div>
                <div>
                    <strong>Actions</strong>
                    <li><a class="link" href="{% url 'console:test_case_create' project.id %}">Add Test Case</a></li>
                    <li><a class="link" href="#">Import</a></li>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}




