<h1>Test Case List</h1>
{% csrf_token %}
{# .... **Normal content list, maybe a table** .... #}
{% if test_case_list %}
    <table id="tb_cases">
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Test Type</td>
            <td>Effort (min)</td>
            <td>Component</td>
            <td>Tier</td>
            <td>Platform</td>
            <td>Pre-Conditions</td>
            <td>Test Steps</td>
            <td>Expected Result</td>
        </tr>
        {% for case in test_case_list %}
            <tr>
                <td>{{ case.name }}</td>
                <td>{{ case.description }}</td>
                <td>{{ case.test_case_type }}</td>
                <td>{{ case.estimate_in_minute }}</td>
                <td>{{ case.component }}</td>
                <td>{{ case.test_case_tier }}</td>
                <td>{{ case.test_case_platform }}</td>
                <td>{{ case.preconditions }}</td>
                <td>{{ case.test_steps }}</td>
                <td>{{ case.expected_result }}</td>
            </tr>
        {% endfor %}
    </table>
    {# .... **Now the pagination section** .... #}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <h3>Test Case</h3>
    <p>No test cases found!!! :(</p>
{% endif %}
{# .... **More content, footer, etc.** .... #}

