{% extends 'console/bootstrap.html' %}

{% load bootstrap3 %}

<!--{% load static %}-->

<!--<link rel="stylesheet" type="text/css" href="{% static 'console/base.css' %}">-->

{% block bootstrap3_content %}

<div class="container">
    <span id="return" class=""><a
            class="link-noline"
            href="{% url 'console:home' %}">&larr; Return to Dashboard</a></span>
    <h1>{% block title %}(no content){% endblock %}</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{% url 'console:overview' project.id %}">Overview</a></li>
        <li role="presentation"><a href="{% url 'console:test_run' project.id %}">Test Runs & Results</a></li>
        <li role="presentation"><a href="{% url 'console:test_case' project.id %}">Test Cases</a></li>
        <li role="presentation"><a href="{% url 'console:release' project.id %}">Releases</a></li>
    </ul>

    <!--{% autoescape off %}{% bootstrap_messages %}{% endautoescape %}-->

    {% block content %}(no content){% endblock %}
</div>

{% endblock %}
