{% extends 'console/base/base_dashboard.html' %}
{% load bootstrap3 %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div>
                <strong>Test Progress</strong>
            </div>
            TODO: here shows a bar chart about the test burn down diagram.

            <hr>

            <div>
                <strong>News Update</strong>
            </div>
            {% for message in last_five_messages_list %}
            <li>{{ message.detail }}</li>
            {% endfor %}

            <hr>
            <div>
                <strong>Projects</strong>
            </div>
            {% for project in all_project_list %}
            <li>
                <a href="{% url 'console:overview' project.id %}">{{ project.name }}</a>
                <div class="container">
                    <a class="link" href="{% url 'console:test_run' project.id %}">Test Runs</a> |
                    <a class="link" href="{% url 'console:test_case_overview' project.id %}">Test Cases</a> |
                    <a class="link" href="#">Releases</a>
                </div>
                <div class="container">
                    Contains <strong>{{ test_run_stats|get_item:project.id }}</strong> uncompleted test run(s) and
                    <strong>{{ release_stats|get_item:project.id }}</strong> release(s).
                </div>
            </li>
            {% endfor %}

            <hr>
        </div>
        <div class="col-md-3">
            <div>
                <strong>Administration</strong>
                <div>
                    Projects
                    <li><a class="link" href="{% url 'console:project_create' %}">Add Project</a></li>
                    <li><a class="link" href="{% url 'console:project_list' %}">View Projects</a></li>
                </div>
                <hr>
                <div>
                    Users & Roles
                    <li><a class="link" href="#">Add User & Role</a></li>
                    <li><a class="link" href="#">View Users & Roles</a></li>
                </div>
                <hr>
                <div>
                    Device Management
                    <li><a class="link" href="{% url 'console:device_create' %}">Add Device</a></li>
                    <li><a class="link" href="{% url 'console:device_list' %}">View Devices</a></li>
                </div>
                <hr>
                <div>
                    Integration
                    <li><a class="link" href="#">Configure JIRA</a></li>
                    <li><a class="link" href="#">Configure Mattermost</a></li>
                    <li><a class="link" href="#">Configure Jenkins</a></li>
                </div>
                <hr>
                <div>
                    Updates
                    <li><a class="link" href="{% url 'console:message_create' %}">Add Message</a></li>
                    <li><a class="link" href="{% url 'console:message_list' %}">View Messages</a></li>
                    <li><a class="link" href="#">Subscribe</a></li>
                </div>
                <hr>
                <div>
                    <li><a class="link" href="#">Logout</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


