{% extends 'console/base.html' %}
{% load bootstrap3 %}

{% block title %}Test Management Console{% endblock %}

{% block content %}
    <em>Project Detail: </em><strong>{{ project.name }}</strong>.
    <!--<ul>-->
    <!--{% for project in all_project_list %}-->
        <!--<li>{{ project.name }} &#45;&#45; {{ project.description }} </li>-->
        <!--&lt;!&ndash;<li><a href="/console/{{ project.id }}/">{{ project.name }}</a></li>&ndash;&gt;-->
    <!--{% endfor %}-->
    <!--</ul>-->
{% endblock %}